#item_id_title {
    float: left;
}

#delete {
    float: right;
}

fieldset {
    width: 100%;
}

legend {
    margin-bottom: 10px;
}

.form-horizontal label.control-label {
    padding-top: 0px;
    margin-bottom: 5px;
}

select.form-control {
    margin-bottom: 10px;
}

.attribute {
    padding-bottom: 60px;
}

.attribute-key {
    width: calc(50% - 40px);
    float: left;
    margin-right: 20px;
}

.attribute-value {
    width: calc(50% - 40px);
    float: left;
}

.attribute-delete {
    float: right;
}

#add {
    float: left;
}

#save {
    float: right;
}

/* ERRORS */
span.error {
    display: inline-block;
    float: right;
    color: red;
}