/*
    css for index
*/

/**
 * SCANNER
 **/
#scanner {
    margin-bottom: 10px;
}
#scanner button {
    width: 100%;
}

/**
 * RESULTS
 **/

/** DETAILS **/
#details {
    background-color: #f5f5f5;
    padding-left: 15.0px;
    padding-right: 15.0px;
    padding-bottom: 08.0px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#details h3 {
    padding-top: 10px;
}

#edit {
    width: 100%;
    margin-bottom: 10px;
}

/** USE **/
#use {
    background-color: #f5f5f5;
    padding-left: 15.0px;
    padding-right: 15.0px;
    padding-bottom: 8.0px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#use h3 {
    padding-top: 10px;
}

#use > div {
    width: 100%;
    margin-top: 10px;
}

/*save*/
#save {
    padding-top: 10px;
    margin-bottom: 10px;
}

#save a {
    width: 100%;
}

/**
 * OVERVIEW
 **/
#overview_table {
    background-color: #f5f5f5;
    padding: 15.0px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#table {
    margin: 0;
}

#overview_table a {
    float: right;
    margin-left: 10px;
}