/**
 * GLOBAL
 **/
html {
    font-size: 100%;
}

body {
}

nav {
    margin-bottom: 10px;
}

#wrapper {
    max-width: 1500px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* close commented backslash hack */

.hidden {
    display: none;
}