#download {
    display: inline-block;
    float: left;
    width: calc(50% - 10px);
}

#download a, #upload a {
    width: 100%;
}

#upload {
    display: inline-block;
    float: right;
    width: calc(50% - 10px);
}

#feedback {
    margin-top: 20px;
}

#progress {
    width: 100%;
    margin-bottom: 10px;
}

#feedback-text {
    float: right;
}
